<div class="option-values">
  <div class="card">
    <div class="card-header">
      <h3><%= t("option_values_for") %> <%= @option_type.pretty_name %></h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="name"><%= translated_model_attribute("option_value", "name") %></th>
              <th class="presentation"><%= translated_model_attribute("option_value", "presentation") %></th>
              <th class="actions actions-2"><%= t("actions") %></th>
            </tr>
          </thead>

          <tbody>
            <% @option_values.each do |option_value| %>
              <tr>
                <td class="name"><%= option_value.name %></td>
                <td class="presentation"><%= option_value.presentation %></td>
                <td class="actions actions-2">
                  <%= link_to material_icon("edit"), edit_backend_option_type_option_value_path(@option_type, option_value), class: "btn-edit btn-sm" %>
                  <%= link_to material_icon("delete"), backend_option_type_option_value_path(@option_type, option_value), method: :delete, class: "btn-destroy btn-sm" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <%= link_to t("new_option_value"), new_backend_option_type_option_value_path(@option_type), class: "btn-new" %>
    </div>
  </div>
</div>
