<!DOCTYPE html>
<html>
<head>
  <title>Strails - Backend</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "strails/backend", media: "all" %>
  <%= javascript_include_tag "strails/backend" %>
</head>
<body>
  <nav class="navbar">
    <a href="#" id="sidebarCollapse" class="sidebar-toggler">
      <%= material_icon "menu" %>
    </a>
    <%= link_to "Strails", backend_root_path, class: "navbar-brand" %>
    <a href="#change-locale-modal" class="change-locale" data-toggle="modal" data-target="#change-locale-modal">
      <%= material_icon("language") %>
    </a>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="sidebar-wrapper">
        <%= render partial: "strails/backend/sidebar" %>
      </div>

      <div class="content">
        <%= flash_messages %>
        <%= breadcrumbs %>

        <div class="row">
          <% if content_for? :content_navigation %>
            <div class="content-navigation">
              <div class="list-group">
                <%= yield :content_navigation %>
              </div>
            </div>
          <% end %>
          <div class="content-inner">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "strails/backend/change_locale_modal" %>
</body>
</html>
