<%= form_with(model: [:backend, product], local: true, class: "product-form") do |form| %>
  <%= error_messages_for(product) %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control", size: "0x10" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>

    <% if product.persisted? %>
      <%= link_to(backend_product_path(product), method: :delete, class: "btn btn-outline-danger ml-3") do %>
        <%= material_icon "delete" %> <%= t("destroy") %>
      <% end %>
    <% end %>

    <%= link_to(backend_products_path, class: "btn btn-outline-secondary ml-3") do %>
      <%= material_icon "clear" %> <%= t("cancel") %>
    <% end %>
  </div>
<% end %>
