<div class="products">
  <div class="card">
    <div class="card-header">
      <h3><%= translated_model_name("product", plural: true) %></h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="sku"><%= translated_model_attribute("variant", "sku") %></th>
              <th class="name"><%= translated_model_attribute("product", "name") %></th>
              <th class="description"><%= translated_model_attribute("product", "description") %></th>
              <th class="price"><%= translated_model_attribute("variant", "price") %></th>
              <th class="actions actions-2"><%= t("actions") %></th>
            </tr>
          </thead>

          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td class="sku"><%= product.sku %></td>
                <td class="name"><%= product.name %></td>
                <td class="description"><%= product.description %></td>
                <td class="price"><%= number_to_currency(product.price) %></td>
                <td class="actions actions-2">
                  <%= link_to material_icon("edit"), edit_backend_product_path(product), class: "btn btn-sm btn-secondary" %>
                  <%= link_to material_icon("delete"), backend_product_path(product), method: :delete, class: "btn btn-sm btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <%= link_to t("new_product"), new_backend_product_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
