<div class="sidebar">
  <div class="sidebar-content">
    <%= active_link_to(backend_dashboard_path, class: "sidebar-item", active: :exact) do %>
      <%= material_icon "dashboard" %> Dashboard
    <% end %>
    <%= active_link_to(backend_products_path, class: "sidebar-item", active: :inclusive) do %>
      <%= material_icon "local_mall" %> Products
    <% end %>
    <%= active_link_to(backend_option_types_path, class: "sidebar-item", active: :inclusive) do %>
      <%= material_icon "settings" %> Option Types
    <% end %>
  </div>
  <div class="sidebar-footer">Strails version: <%= Strails::VERSION %></div>
</div>

<div class="overlay"></div>
