<%= form_with(model: [:backend, option_type], local: true, class: "option-type-form") do |form| %>
  <%= error_messages_for(option_type) %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= form.label :presentation %>
    <%= form.text_field :presentation, class: "form-control", autocomplete: "off" %>
  </div>

  <hr class="divider">

  <h5 class="mb-3"><%= translated_model_attribute("option_type", "option_values") %></h5>
  <div id="option-values">
    <%= form.fields_for :option_values do |option_values_form| %>
      <%= render partial: "option_value_fields", locals: { f: option_values_form } %>
    <% end %>

    <div class="links">
      <%= link_to_add_association(form, :option_values, class: "btn btn-outline-success") do %>
       <%=  material_icon("add") %> <%= t("new_option_value") %>
      <% end %>
    </div>
  </div>

  <hr class="divider">

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>

    <% if option_type.persisted? %>
      <%= link_to(backend_option_type_path(@option_type), method: :delete, class: "btn btn-outline-danger ml-3") do %>
        <%= material_icon "delete" %> Destroy
      <% end %>
    <% end %>

    <%= link_to(backend_option_types_path, class: "btn btn-outline-secondary ml-3") do %>
      <%= material_icon "clear" %> Cancel
    <% end %>
  </div>
<% end %>
