<%= form_with(model: [:backend, option_type], local: true, class: "option-type-form") do |form| %>
  <%= error_messages_for(option_type) %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= form.label :presentation %>
    <%= form.text_field :presentation, class: "form-control", autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>

    <% if option_type.persisted? %>
      <%= link_to(backend_option_type_path(@option_type), method: :delete, class: "btn btn-outline-danger ml-3") do %>
        <%= material_icon "delete" %> Destroy
      <% end %>
    <% end %>

    <%= link_to(backend_option_types_path, class: "btn btn-outline-secondary ml-3") do %>
      <%= material_icon "clear" %> Cancel
    <% end %>
  </div>
<% end %>
