<div class="option-types">
  <div class="card">
    <div class="card-header">
      <h3>Option Types</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="name">Name</th>
              <th class="presentation">Presentation</th>
              <th class="actions actions-2">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @option_types.each do |option_type| %>
              <tr>
                <td class="name"><%= option_type.name %></td>
                <td class="presentation"><%= option_type.presentation %></td>
                <td class="actions actions-2">
                  <%= link_to material_icon("edit"), edit_backend_option_type_path(option_type), class: "btn btn-sm btn-secondary" %>
                  <%= link_to material_icon("delete"), backend_option_type_path(option_type), method: :delete, class: "btn btn-sm btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <%= link_to "New Option Type", new_backend_option_type_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
