<div class="option-types">
  <div class="card">
    <div class="card-header">
      <h3><%= translated_model_name("option_type", plural: true) %></h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="name"><%= translated_model_attribute("option_type", "name") %></th>
              <th class="presentation"><%= translated_model_attribute("option_type", "presentation") %></th>
              <th class="option-values"><%= translated_model_attribute("option_type", "option_values") %></th>
              <th class="actions actions-2"><%= t("actions") %></th>
            </tr>
          </thead>

          <tbody>
            <% @option_types.each do |option_type| %>
              <tr>
                <td class="name"><%= option_type.name %></td>
                <td class="presentation"><%= option_type.presentation %></td>
                <td class="option-values"><%= option_type.option_values.map(&:pretty_name).join(", ") %></td>
                <td class="actions actions-2">
                  <%= link_to material_icon("edit"), edit_backend_option_type_path(option_type), class: "btn-edit btn-sm" %>
                  <%= link_to material_icon("delete"), backend_option_type_path(option_type), method: :delete, class: "btn-destroy btn-sm" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <%= link_to t("new_option_type"), new_backend_option_type_path, class: "btn-new" %>
    </div>
  </div>
</div>
